.login-form {
  max-width: 300px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin: auto !important;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.Login_Wrapper {
  margin: 0px auto;
}

.Signin_Google_Button {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin: 0px auto !important;
  width: 300px;
}

.Google_Button:before {
  content: url(../Icons/btn_google_signin_light_normal_web.png);
}
.Google_Button:hover:before {
  content: url(../Icons/btn_google_signin_light_focus_web.png);
}
.Google_Button:active:before {
  content: url(../Icons/btn_google_signin_light_pressed_web.png);
}

.Blocker {
  position: absolute;
  width: 1040px;
  height: 250px;
  background-color: gray;
  z-index: 3000;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  opacity: 0.8;
  text-align: center;
}

.Header_Blocker {
  display: inline-block;
  vertical-align: middle;
  color: white;
}
