.ql-container.ql-snow {
  height: 500px;
  margin-bottom: 10px;
  overflow: scroll;
}
.Grid_Content .React_Quill {
  height: inherit;
}
.Grid_Content .ql-container.ql-bubble {
  height: inherit;
}
.Grid_Content > .Quill_Wrapper {
  position: relative;
  height: 100%;
  width: inherit;
}

.Grid_Content .ql-toolbar {
  text-align: center;
}
.Grid_Content .ql-editor {
  overflow: scroll;
  transition: all 300ms ease;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #363636;
}
::-webkit-scrollbar-thumb:active {
  background: #1f1f1f;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #d8d8d8;
}
::-webkit-scrollbar-track:active {
  background: #a2a2a2;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
