@media print {
  .Lesson_Page_TopMenu {
    display: none;
  }
  .Legal_Size_Page {
    box-shadow: none;
    margin: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: none;
  }
  .Lesson_Plan_Page {
    display: none;
  }
  .Lesson_Plan_Footer {
    display: none;
  }
  .Bottom_Options {
    display: none;
  }
  .react-grid-item:not(.react-grid-placeholder) {
    border: white;
  }
  .Curriculum_Switch {
    display: none;
  }
}

@media screen {
  .Legal_Size_Page {
    -webkit-box-shadow: 0px 0px 8px 4px rgba(163, 163, 163, 1);
    -moz-box-shadow: 0px 0px 8px 4px rgba(163, 163, 163, 1);
    box-shadow: 0px 0px 8px 4px rgba(163, 163, 163, 1);
  }
  .Lesson_Plan_Footer {
    margin-top: 20px;
  }
  .Lesson_Plan_Content {
    margin-top: 100px;
  }
  .react-grid-layout:hover .react-grid-item:not(.react-grid-placeholder) {
    border: 2px solid lightgray;
  }

  .react-grid-layout:hover .react-grid-item:not(.react-grid-placeholder):hover {
    border: 2px solid #001529;
  }
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: normal;
  src: local("Proxima Nova"),
    url(./fonts/proxima-nova/ProximaNova-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: bold;
  src: local("Proxima Nova Bold"),
    url(./fonts/proxima-nova/ProximaNova-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: italic;
  font-weight: normal;
  src: local("Proxima Nova IT"),
    url(./fonts/proxima-nova/ProximaNova-RegularIt.otf) format("opentype");
}
@font-face {
  font-family: "Adobe Garamond Pro";
  font-style: normal;
  font-weight: normal;
  src: local("Adobe Garamond Pro"),
    url(./fonts/Adobe-Garamond-Pro/AGaramondPro-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Adobe Garamond Pro";
  font-style: italic;
  font-weight: normal;
  src: local("Adobe Garamond Pro IT"),
    url(./fonts/Adobe-Garamond-Pro/AGaramondPro-Italic.otf) format("opentype");
}
@font-face {
  font-family: "Adobe Garamond Pro";
  font-style: normal;
  font-weight: bold;
  src: local("Adobe Garamond Pro Bold"),
    url(./fonts/Adobe-Garamond-Pro/AGaramondPro-Bold.otf) format("opentype");
}
